<h2>User Details</h2>
<p><strong>FullName: </strong><%= @user.full_name %></p>
<p><strong>MobileNumber: </strong><%= @user.mobile_number %></p>
<p><strong>Email: </strong><%= @user.email %></p>
<p><strong>Address: </strong><%= @user.address %></p>

<p>
  <%= link_to 'Back', users_index_path, class: 'btn btn-primary' %>
  <%= link_to "Edit", edit_user_registration_path, class: "btn btn-primary" if current_user.id == @user.id %>
</p>

<h2>Profile Comments</h2>
<%= render partial: 'comments/comment', collection: @user.profile_comments.where(parent_id: nil).order(created_at: :asc) %>
<%= render partial: 'comments/form', locals: { commentable: @user } %>