<h1>User Details</h1>

<p>
  <strong>Full Name :</strong>
  <%= @user.full_name %>
</p>

<p>
  <strong>Mobile Nu :</strong>
  <%= @user.mobile_number %>
</p>

<p>
  <strong>Email :</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Address :</strong>
  <%= @user.address %>
</p>

<%= link_to 'Back', users_index_path %>
<%= link_to "EDIT" , edit_user_registration_path if current_user.id == @user.id %>

